In [ ]:
#Supermarket Sales Analysis

In [ ]:
#Import libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#Import csv file

In [3]:
df = pd.read_csv(r"C:\Users\Owner\Desktop\data\Sales\supermarket_sales.csv")

In [4]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [8]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [ ]:
# Question 1
# Of the three store branches, which one earned the most income over the past three months?

In [28]:
df.groupby('Branch').sum()['gross margin percentage']

Branch
A    1619.047619
B    1580.952381
C    1561.904762
Name: gross margin percentage, dtype: float64

In [29]:
df.groupby('Branch').sum()['gross income']

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [ ]:
# Branch C earned the most in the past three months, however when accounting for cost of goods (COGS), Branch A had the highest gross margin percentage.
# Because of this, I would consider this branch the most successful branch in the past three months.

In [ ]:
# Question 2
# What was the highest earning product line?

In [40]:
df.groupby('Product line').sum()['gross income']

Product line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: gross income, dtype: float64

In [ ]:
# Highest earned product line was food and beverages.
# Second highest earning product line was sports and travel.
# The two lowest earning prodcut lines were: 1.fashion accessories and 2.health and beauty.

In [ ]:
# Question 3
# Who brought in more revenue in the past three months, men or women?

In [50]:
df.groupby('Gender').sum()['gross income']

Gender
Female    7994.425
Male      7384.944
Name: gross income, dtype: float64

In [ ]:
# Qustion 4
# What is the average number of products bought in each branch?

In [57]:
df.groupby('Branch').mean()['Quantity']

Branch
A    5.467647
B    5.481928
C    5.582317
Name: Quantity, dtype: float64

In [ ]:
# Question 5
# What is difference in revenue between normal and memeber customers?

In [59]:
df.groupby('Customer type').mean()['gross income']

Customer type
Member    15.609110
Normal    15.148707
Name: gross income, dtype: float64

In [60]:
df.groupby('Customer type').mean()['gross margin percentage']

Customer type
Member    4.761905
Normal    4.761905
Name: gross margin percentage, dtype: float64

In [ ]:
# From looking at the average gross margin percentage and gross income of both normal and member customers, there isn't a sizable difference in revenue.